@tailwind base;
@tailwind components;
@tailwind utilities;

.AppHeader {
  border-bottom: 1px solid #ddd;
  max-height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
  img {
    max-height: 24px;
  }
  .search-input {
    height: 24px;
    width: 300px;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

.AppBody {
  padding: 20px 50px;
  margin: 0 auto;
  width: 100vw;
  overflow-y: scroll;
  height: calc(100vh - 48px);
}

.VideoList {
  .VideoItem {
    img {
      width: 100%;
      border-radius: 0.5rem;
    }
    .VideoTitle {
      width: 100%;
      padding-top: 8px;
      h4 {
        max-height: 50px;
        overflow: hidden;
        word-wrap: break-word;
        font-weight: 500;
        font-size: 1.02rem;
        margin-bottom: 4px;
      }
      h6 {
        font-size: 0.9rem;
        color: #52525b;
        line-height: 1.1rem;
      }
    }
  }
}
